<!DOCTYPE html>
<html>
  <head>
    <title>MovieApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <% if current_user %>
        <% if current_user.admin? %>
          <%= link_to "Create User", new_user_path %>
        <% end %>
        <%= form_tag logout_path, method: :delete do %>
          <%= submit_tag "Logout" %>
        <% end %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
